@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Jockey+One&display=swap');





:root{
    /* CSS HEX */
--azul: #0b132bff;
--azul-clarot: #1c2541ff;
--azul-cinzento: #3a506bff;
--verde-azulada: #5bc0beff;
--titulo: "Alfa Slab One", serif;
--texto: "Jockey One", sans-serif;
}
body{
    background-color:var(--azul-cinzento) ;
font-family: var(--titulo);
margin: 0;
padding: 0;
display: flex;
align-items: center;
justify-self: unset;

}
main{ 
    margin-top: 20px;
max-width: 90%;
text-align: center;

}
button{
    font-family: var(--titulo);
background-color: var(--azul);
color: var(--azul-clarot);
border: 2px solid var(--azul-clarot);
padding: 20px 30px;
margin: 10px 0;
cursor: pointer;
border-bottom: 10px;

}
button:hover{
    background-color: var(--verde-azulada);
    color: var(--azul-clarot);
    transition: 0.5;
}